h1 {
  color: red;
  font-size: 3em;
  background-color: rgb(174, 220, 204);
  text-align: center;
  padding: 20px;
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.main-div button{
  align-items: center;
  text-align: center;
  font-size: 30px!important;
  padding: 10px;
  margin-left: 600px;
  margin-bottom: 30px;
  margin-top: 30px;
}